.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: sans-serif;
  color: #282c34;
}

.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  background-color: #605B73;
  border-radius: 6px;
}

.App-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-color: #B5B5B5;
  border-width: 1px;
  margin-bottom: 10px;
}

.row-style {
  padding: 15px;
  border: solid white 5px;
}

.btn-style {
  margin: 10px 0px 0px 0px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  margin: -25px 0px 20px 0px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
